@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.eot');
    src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//variables
$navHeaderColor:#252525;
$basketColor:#242424;
$mainMenuBgColor:#333333;
$headerMainFont:'robotoregular';
$headerMainFontBold:'robotobold';

body {
    margin: 0;
}
html{
	font-size: 16px;
}

@import 'common/header';
